//ol,ul reset
ol,
ul {
  list-style: none;
  padding: 0;
}
ol,
ul,
dl {
  margin: 0;
}

html,
body {
  font-family: 'Noto Sans TC', sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

// 隱藏 y 軸
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-y-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-y-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}